@import url('https://fonts.googleapis.com/css2?family=Kulim+Park&display=swap');

:root {
    --base: #9dd6ec;
    --background: #1D2041;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Open Sans';
}
body,html {
    height: 100%;
}
body {
 background-color: var(--background);
}
button {
    border: none;
    background: none;
    cursor: pointer;
}
nav {
    position: relative;
}
nav ul {
    width: 100%;
    text-align: center;
}
nav ul li {
    display: inline-block;
    padding: 20px 30px;
}
.tab {
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 15px;
    margin: auto;
    font-size: 18px;
    letter-spacing:3px;
    color: var(--base);
    background: #1D2041;
    box-shadow: inset 18px 18px 36px #13152c,
                inset -18px -18px 36px #272b56;
}
.tab:hover {
    color: rgb(0, 255, 42);
}
.active {
background: linear-gradient(145deg, #101224, #1d203b);
box-shadow:  36px 36px 72px #0c0d1a,
             -36px -36px 72px #3d4172;
    color: rgb(2, 250, 85);
}
.active {
    display: block;
}
.tabcontent {
    display: none;
}

/* clock tab styling */
.clock {
    position: relative;
    top: 10%;
    width: 100%;
    height: 50%;
    display: block;
}
.clock_Base {
    position: relative;
    text-align: center;
    background: inherit;
    border-radius: 30px;
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow:  0px 0px 68px 50px #0f1020;
}
.clock_Base::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    filter: blur(130px);
    background: rgb(187, 198, 255);
}

/* base block styling to showcase time for each hour,minute,second and session */
.base {
    position: relative;
    display: inline-block;
    perspective: 300px;
    backface-visibility: hidden;
    width: calc(60px + 4vw);
    height: 100px;
    margin: 0 15px 0px 15px;
    border-radius: 20px;
    transform: translateZ(0);
    transform: translate3d(0,0,0);
    z-index: 1;
    top: 30%;
}
.base::before, .base::after{
    content: '';
    position: absolute;
    border-radius: 50px;
    top: 46%;
    width: 5px;
    height: 10px;
    z-index: 3;
    background-color: #1D2041;
}
.base::before {
    left: 0;
}
.base::after {
    right: 0;
}

/* flap base and then separate top-flap and bottom-flap styling for animation */
/* these classes and related html code you can find in clock.js in showTime() function embedded by innerHtml */
.flap {
    position: absolute; 
    display: block;
    color: var(--background);
    font-size: calc(15px + 2.5vw);
    overflow: hidden;
    text-align: center;
    top: 0; 
    width: 100%;
    height: 50%;
}
.flap-top {
    top: 0px;
    line-height: 103px;
    background-color: #8f96e9;
    transform-origin: 50% 100%; 
    border-radius: 20px 20px 0 0;
}
.flap-bottom {
    background-color: #c9cdf5;
    line-height: 0; 
    top: 52%;
    transform-origin: 50% 0%; 
    border-radius: 0 0 20px 20px; 
}
.flipTop {
    animation: flipTop 0.2s ease-in-out both;
    z-index: 1;
}
.flipBottom {
    animation: flipBottom 0.25s 0.2s ease-in-out both;
    z-index: 1;
}

@keyframes flipTop {
    0% {
        transform: rotateX(0deg);
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        transform: rotateX(-90deg);
        opacity: 0;
    }
}
@keyframes flipBottom {
    0% {
        transform: rotateX(90deg);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

/* timer tab styling */
.timer {
    position: relative;
    top: 10%;
    width: 100%;
}
.dial {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    margin: auto;
    background: linear-gradient(145deg, #1a1d3b, #1f2246);
    box-shadow:  32px 32px 64px #0c0d1a,
                 -32px -32px 64px #2e3368;
    z-index: 1;
}
.subDial {
    position: relative;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    top: 6%;
    margin: auto;
    z-index: 2;
    background: linear-gradient(145deg, #0f1127, #0d0e1b);
    box-shadow: -5px -5px 20px 15px #0f1127,10px 15px 20px 5px #2e3364;
}
.base-timer {
    position: relative;
    top: -1%;
    left: -1%;
    margin: auto;
    height: 22.5rem;
    width: 22.5rem;
    /* remove this display if use flexbox or grid in timer_label */
    display: grid;
    place-items: center;
}

.svg-container {
    /* Flips the svg and makes the animation to move left-to-right */
    transform: scaleX(-1);
}
/* Removes SVG styling that would hide the time label */
.svg-circle {
    fill: none;
    stroke: none;
}
.svg-background-circle {
    stroke-width: 3px;
    stroke: #0a0b1b;
}
/* The SVG path that displays the timer's progress */
.svg-timer-circle {
    stroke-width: 3px;
    stroke-linecap: round;
    /* Makes sure the animation starts at the top of the circle */
    transform: rotate(90deg);
    transform-origin: center;
    /* One second aligns with the speed of the countdown timer */
    transition: 1s linear all;
}
.timer_label {
    position: absolute;
    color: rgb(232, 250, 252);
    top: 35%;
    font-size: 5.5rem;
    letter-spacing: 1px;
    font-family: 'Kulim Park',sans-serif;
    font-weight: bolder;
}
.condition {
    position: absolute;
    color: rgb(232, 250, 252);
    bottom: 20%;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bolder;
}

/* settings section */
.setting {
    position: relative;
    border: none;
    background: none;
    display: block;
    margin: auto;
    padding: 30px 0 0 0;
}
.setting img {
    cursor: pointer;
    width: 3rem;
}
.modal {
    position: fixed;        /* Stay in place */
    display: none;          /* Hidden by default */
    width: 100%;            /* Full width */
    height: 100%;           /* Full height */
    left: 0;
    bottom: 0;
    padding-top: 12%;       /* Location of the box */ 
    background-color: rgb(0,0,0);       /* Fallback color */
    background-color: rgba(0,0,0,0.4);      /* Black w/ opacity */
    z-index: 1;             /* Sit on top */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 30px 50px 0 50px;
    border-radius: 20px;
    /* border: 1px solid #888; */
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {
        bottom:-300px;
        opacity:0;
    }
    to {
        bottom:0px;
        opacity:1;
    }
}

/* The Close Button */
.close {
    float: right;
    font-size: calc(20px + 1.5vw);
    font-weight: bold;
}
.close:hover, .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* modal body,footer and header styling */
.modal-header {
    font-size: calc(10px + 0.8vw);
    padding: 0 0 10px 0;
    border-bottom: 1px solid grey;
}
.modal-body {
    padding: 20px 0 0 0;
}
.modal-body h2 {
    letter-spacing: 3px;
    font-size: calc(15px + 1vw);
}
.modal-body p {
    font-size: calc(8px + 0.5vw);
    padding-bottom: 15px;
}
.modal-body p strong {
    letter-spacing: 3px;
}
.modal-footer {
    position: relative;
    bottom: -20px;
    text-align: center;
}
.modal-footer button {
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 50px;
  border-radius: 50px;
  background: rgb(236, 140, 55);
}

/* form styling */
form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 20px 0;
}
.timeinput {
    flex: 50%;
}
.timeinput:nth-child(2) {
    text-align: left;
}
.timeinput label {
    font-size: calc(15px + 0.2vw);
}
input {
    font-size: calc(15px + 0.2vw);
    font-weight: bold;
    border: none;
    background-color: rgb(227, 232, 255);
    border-radius: 10px;
    margin: 0 5px;
    padding: 8px 0px 8px 10px;
}
input:focus {
    outline: none;
}
.colors {
    position: relative;
    padding: 20px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
}
.colors h2 {
    font-size: calc(15px + 0.5vw);
    letter-spacing: 2px;
    padding: 4px 0px 0 0;
    flex: 1;
}
input[type='radio'] {
    visibility: hidden;
    margin: 0px 20px 0 0;
}
input[id='color1']:after {
    background-color: #00ffff;
}
input[id='color2']:after {
    background-color: #00ff2a;
}
input[id='color3']:after {
    background-color:  #f1635b;;
}
input[id='color4']:after {
    background-color:  orange;
}
input[type='radio']:after {
    content: '';
    position: relative;
    display: inline-block;
    visibility: visible;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
input[type='radio']:checked:after {
    content: '\2713';
    font-size: 18px;
    position: relative;
    display:grid;
    place-items: center;
    visibility: visible;
}

/* icon-bar styling */
.icon_bar {
    position: absolute;
    top: 30%;
    width: 120px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    align-items: center;
    border-radius: 0 20px 20px 0;
    justify-content: center;
    background: linear-gradient(225deg, #0f1124, #1f2138);
    box-shadow:  -20px 20px 50px 20px #0e101f,8px -8px 50px 20px #252953;
}
.icon_bar a {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 8px 8px 0 8px;
    border-radius: 20px;
    margin: 20px 0;
    background: linear-gradient(145deg, #0b0d1a, #16182c);
    box-shadow:  8px 8px 16px #090a14,
                 -8px -8px 16px #171a34;
}
.icon_bar .out-links {
    position: relative;
    display: inline-block;
}
.icon_bar .out-links img {
    width: 40px;
}
.icon_bar .out-links img:hover {
    filter: invert(0) sepia(0) saturate(1) hue-rotate(223.2deg) brightness(1.2);
}

/* All media queries */
@media only screen and (max-width: 1200px) {
    .modal-content {
        width: 70vw;
    }
}
@media only screen and (max-width: 1083px) {
    .clock_Base {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .block1 {
        margin-top: 20px;
        flex: 50%;
    }
    .block2 {
        flex: 100%;
    }
}
@media only screen and (max-width: 650px) {
    .flap {
        font-size: calc(20px + 3vw);
    }
    .clock_Base {
        width: 70%;
    }
    .clock {
        top: 5%;
    }
}
@media only screen and (max-width: 550px) {
    form {
        flex-direction: column;
    }
    input {
        margin: 10px 5px;
    }
    .timeinput:nth-child(2) {
        text-align: unset;
    }
}
@media only screen and (max-width: 510px) {
    .colors {
        flex-direction: column;
    }
    input[type='radio'] {
        visibility: hidden;
        margin: 10px 20px 20px 0;
    }
    .modal {
        padding-top: 20%;
    }
    .modal-body p {
        display: none;
    }
    .modal-footer button {
        font-size: calc(10px + 2vw);
        padding: 10px 30px;
    }
}
@media only screen and (max-width: 500px) {
    .dial {
        width: 65vw;
        height: 65vw;
        box-shadow:  15px 15px 30px #0c0d1a,
                 -15px -15px 30px #2e3368;
    }
    .subDial {
        top: 4%;
        width: 60vw;
        height: 60vw;
        box-shadow: -5px -5px 10px 5px #0f1127,10px 10px 30px 5px #2e3364;
    }
    .base-timer {
        width: 62vw;
        height: 62vw;
        top: -1.6%;
        left: -1.5%;
    }
    .timer_label {
        font-size: calc(10px + 15vw);
    }
    .condition {
        font-size: 3vw;
        letter-spacing: 5px;
    }
}
@media only screen and (max-width: 310px) {
    .modal-content {
        padding: 20px;
    }
    .modal-footer {
        bottom: -40px;
    }
}
@media only screen and (max-width: 820px) {
    .icon_bar {
        position: absolute;
        flex-direction: row;
        width: 100%;
        height: 10%;
        top: unset;
        bottom: 0;
        border-radius: 20px 20px 0 0;
        padding: 40px 0 40px 0;
    }
    .icon_bar a {
        display: inline-block;
        margin: 0px 3vw;
    }
    .timer {
        top: 6%;
    }
}
@media only screen and (max-width: 410px) {
    .icon_bar .out-links img {
        width: 10vw;
    }
    .timer {
        top: 10%;
    }
}